<!DOCTYPE html>
<html
	lang="en" >

<head>
	<meta
		charset="utf-8" />
	<meta
		content="width=device-width, initial-scale=1.0"
		name="viewport" />
	<base
		href="/" />
	<link
		href="bootstrap/bootstrap.min.css"
		rel="stylesheet" />
	<link
		href="app.css"
		rel="stylesheet" />
	<link
		href="AspireBasic.Web.styles.css"
		rel="stylesheet" />
	<link
		href="favicon.png"
		rel="icon"
		type="image/png" />
	<HeadOutlet />
</head>

<body>
<Routes />
<script
	src="_framework/blazor.web.js" ></script>
</body>

</html>